
@{
    ViewBag.Title = "BR Studio & Coffee";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

@Html.Action("Category", "BRCoffee")
<div class="col-lg-9">
    <div class="card mt-4 mb-4">
        <img class="card-img-top img-fluid img-responsive" src="~/Resources/Drink/@Model.picture" alt="">
        <div class="card-body">
            <h3 class="card-title">@Model.name</h3>
            <h4>@Model.price đ</h4>
            <p class="card-text">@Model.describe</p>
            <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
            4.0 stars
            <div class="text-right">
                <a href="@Url.Action("addCart", "Cart", new { @id = @Model.id, @url = Request.Url.ToString() })" class="btn btn-primary mt-4">Add to Cart</a>
            </div>
        </div>
    </div>
</div>
@Html.Action("ListNews", "News")