@model brcoffee.Models.drink

@{
    ViewBag.Title = "BR Studio & Coffee";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container my-3">
    <h2>Create new Drink</h2>
    @using (Html.BeginForm("DrinkCreate", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <hr>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label" })
                <div>
                    @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.idcategory, htmlAttributes: new { @class = "control-label" })
                <div>
                    @Html.DropDownList("idcategory", (IEnumerable<SelectListItem>)ViewBag.id, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.picture, htmlAttributes: new { @class = "control-label" })
                <div>
                    <input type="file" name="fileupload">
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.describe, htmlAttributes: new { @class = "control-label" })
                <div>
                    <textarea name="describe"></textarea>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.price, htmlAttributes: new { @class = "control-label" })
                <div>
                    @Html.EditorFor(model => model.price, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.price, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.date, htmlAttributes: new { @class = "control-label" })
                <div>
                    <input type="date" name="date" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 text-center">
                    <input type="submit" value="Create new Drink" class="btn btn-success my-3" />
                </div>
            </div>
        </div>
    }
    <hr>
    <div>
        @Html.ActionLink("Back to List", "Drink")
    </div>
</div>
